@page
@using Jonny.AdllDemo.Mvc.ViewComponents.Pages.Shared.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
    @await Component.InvokeAsync(typeof(PriorityListViewComponent))
</div>
