<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServer" connectionString="xxx"/>
    <add name="Oracle" connectionString="ooo"/>
    <add name="MySql" connectionString="mmm"/>
  </connectionStrings>
  <appSettings>
    <add key="Person.Name" value="Jonny"/>
    <add key="Person.Age" value="25"/>
    <add key="Person:Address:0" value="重庆渝北"/>
    <add key="Person:Address:1" value="重庆奉节"/>
  </appSettings>
</configuration>