<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connStr1" value="Data Source=E:\studyspace\all demo\Jonny.AllDemo\src\sqlite\libs\sqlite\cyqueue.db;Pooling=true;FailIfMissing=false;version=3;" />
    <add key="connStr2" value="Data Source=(local);Initial Catalog=sqlite;Integrated Security=True;Max Pool Size=10" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.113.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
</configuration>